// Forms

.form
  padding: 1rem 0

  .form-field
    position: relative
    margin-bottom: .8rem

    &:last-of-type
      padding-bottom: 0

    .form-label
      padding: 0 .4rem

    input,
    textarea
      width: 100%
      background: transparent
      border-radius: 0
      padding: 0 .4rem

      &:invalid
        box-shadow: none

      &:focus
        box-shadow: 1px 1px 1px 1px red

    input
      line-height: 1.6em
      border: none
      border-bottom: 1px solid grey

    textarea
      min-height: 8em
      max-width: 100%
      overflow: auto
      border: 1px solid grey

    .form-input-wrapper
      &:before,
      &:after
        content: ''
        position: absolute
        display: block
        bottom: 0
        left: 0
        width: 1px
        height: 5px
        background-color: grey

      &:after
        left: auto
        right: 0

    .form-textarea-wrapper
      font-size: 0

      textarea
        font-size: $base-font-size

  .form__actions
    text-align: right

  &_content
    +media-query(mobile-and-up)
      width: 65%
