// Post / Excerpt styles

.blog-post
  padding: 1rem 0

  +media-query(lap-and-up)
    padding: 2rem 0

  img
    display: block
    margin: 2rem auto

.blog-post__title
  font-size: 1.222em
  font-weight: normal
  margin-bottom: .2em

.blog-post__meta
  font-size: $base-font-size-small
  color: $base-font-color-light
  margin-bottom: 1em

.blog-post__tags
  display: inline-block
  vertical-align: middle

  ul
    list-style: none

.blog-post__item
  display: inline-block

  a
    color: $base-font-color-light
    text-decoration: none

    &:hover,
    &:focus
      +a_hover($base-font-color-light)

.blog-post__divider
  display: inline-block
  vertical-align: middle
  margin: 0 .3em

.blog-post__date
  display: inline-block
  vertical-align: middle

.blog-post__content
  padding-top: 1rem

  .post_excerpt &
    padding-top: 0

  h1
    font-size: $base-font-size - 1
    margin: 1rem 0
    text-transform: uppercase

  h2
    font-size: $base-font-size - 3
    margin: 2rem 0 1.2rem
    text-transform: uppercase

  h3, h4, h5, h6
    font-size: $base-font-size - 5
    margin: 1.8rem 0 1.2rem
    text-transform: uppercase

  code,
  pre
    font-family: $base-font-primary
    padding: 0 .2rem .1rem
    background-color: #666666
    color: #EDF1F2
    border-radius: 3px

  pre
    margin: 2rem 0
    padding: .5rem .6rem
    overflow: auto

    code
      display: inline-block
      margin-right: .6rem
      background-color: transparent
      border: none
      border-radius

      +media-query(lap-and-up)
        margin-right: 1rem

    +media-query(lap-and-up)
      padding: .8rem 1rem

  p
    margin: 1em 0

  ul
    li
      list-style-type: '- '
      margin-left: 1rem

      +media-query(lap-and-up)
        margin-left: 0

  ol
    li
      margin-left: 1.5rem

      +media-query(lap-and-up)
        margin-left: 0

    ul
      li
        margin-left: 1rem

        +media-query(lap-and-up)
          margin-left: 0

  li
    margin-bottom: .5rem

    ul
      margin-left: 0

      +media-query(lap-and-up)
        margin-left: 1rem

  blockquote
    font-style: italic
    margin-left: 0
    padding-left: .8rem
    border-left: 3px solid $base-color-border-light

    +media-query(mobile-and-up)
      margin-left: 1rem