// Main site navigation

$nav-main-bg: rgba(247, 247, 247, 1)

.nav-main
  background-color: $nav-main-bg
  font-size: $base-font-size-medium
  padding: 0 1rem

  .container
    @extend %container

  ul
    list-style: none
    margin: 0 -1rem

  .nav-main__item
    display: inline-block
    text-transform: lowercase

    a
      display: inline-block
      padding: 1rem 1.2rem
      color: $base-color-primary
      text-decoration: none

      &:hover,
      &:focus
        background-color: $base-color-primary-lightest

    &_current
      padding: 1rem 1.2rem

    &_active
      a
        color: $base-font-color
