// Hero

.hero
  padding: 2em 1rem
  font-size: $base-font-size-medium

  +media-query(lap-and-up)
    padding: 4em 1rem

  .container
    @extend %container

  a
    color: $base-color-primary
    text-decoration: none

    &:hover,
    &:focus
      +a_hover()