// Main blog posts navigation

.pagination
  text-align: center

  ul
    list-style: none
    padding: 1.5rem 0

  .pagination__item
    display: inline-block
    font-weight: bold

    a
      padding: 1rem 1.2rem
      color: $base-color-primary
      text-decoration: none

      &:hover,
      &:focus
        background-color: $base-color-primary-lightest
        border: none

    &_nolink
      padding: 1rem 1.2rem