// Main container

.main
  background: rgba(247, 247, 247, 1)
  padding: 2rem 1rem 10rem

  .container
    @extend %container

  a
    color: $base-color-primary
    text-decoration: none

    &:hover,
    &:focus
      +a_hover()

.main_home
  display: none