// Fonts

@font-face
  font-family: 'Inconsolata'
  font-weight: regular
  src: url('../fonts/inconsolata-regular.woff2') format('woff2'), url('../fonts/inconsolata-regular.woff') format('woff')

@font-face
  font-family: 'Inconsolata'
  font-weight: bold
  src: url('../fonts/inconsolata-bold.woff2') format('woff2'), url('../fonts/inconsolata-bold.woff') format('woff')