// Helpers

.vh
  clip: rect(1px 1px 1px 1px) /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px)
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden


// Includes

%container
  max-width: $base-width
  margin: 0 auto

%a_hover_color
  border-bottom: 3px solid $base-color-primary-light

%a_hover_light
  border-bottom: 3px solid $base-color-primary-light