extends ../layouts/default
block content

  .content
    //- p.intro
    //-   span Hi, I’m
    //-   span.title
    //-    strong Pedro Pimenta
    //-   span and I’m a
    //-   span
    //-     strong front-end developer
    //-   span and
    //-     strong  graphic designer
    //-     | .

    <p class='intro'><span>Hi, I’m</span> <span><strong>Pedro Pimenta</strong></span> <span>and I’m a</span> <span><strong>front-end developer</strong></span> <span>and <strong>graphic designer</strong>.</span></p>


    :markdown-it
      I studied **graphic design** and have been **making websites** since I discovered the Internet.

      I have worked at [We Are Mortensen](https://mortensen.cat), [MarsBased](https://marsbased.com) and [Stuart](https://stuart.com) building **websites** and **webapps**.
      I teach **digital design** at [IDEP Barcelona](http://idep.es).

      I design and develop websites using the **latest technologies** and **best practices**.
      I understand **developers’ concerns** and respect **designers’ pixels**.

      You can find me on [LinkedIn](https://www.linkedin.com/in/pedrogpimenta/) and [Twitter](https://www.twitter.com/pedrogpimenta) and also on [Github](https://github.com/pedrogpimenta) and [Dribbble](https://dribbble.com/pedrogpimenta). You can send me an [email](mailto:pedro@pimenta.co) too, just don't call.
