{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}

    {% for child in collection %}
      {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
    {% endfor %}

    {% if config.plugins.pagination.enabled and collection.params.pagination %}
      {% include 'partials/pagination.html.twig' %}
    {% endif %}

  {% endblock %}

{% endembed %}