<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if header.description %}
    <meta name="description" content="{{ header.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    {% if header.robots %}
      <meta name="robots" content="{{ header.robots }}">
    {% endif %}

    <!-- <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png"> -->

    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

    {% block stylesheets %}
      {% do assets.add('theme://css/main.css',100) %}
      {{ assets.css() }}
    {% endblock %}

    <!--
    {% block javascripts %}
      {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
      {% do assets.add('theme://js/bootstrap.min.js') %}

      {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
        {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
        {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
      {% endif %}

      {{ assets.js() }}
    {% endblock %}
    -->

  {% endblock head %}
</head>

<body>

  {% if page.template == 'home' %}
    {% include 'partials/hero-home.html.twig' %}
  {% else %}
    {% include 'partials/hero.html.twig' %}
  {% endif %}
  {% include 'partials/navigation.html.twig' %}

  <main class="main main_{{ page.title|lower }}">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

</body>
{% block bottom %}{% endblock %}
</html>