<article class="blog-post post_excerpt">
  <h1 class="blog-post__title">
    <a href="{{ page.url }}">
      {{ page.title }}
    </a>
  </h1>
  <aside class="blog-post__meta">
  <div class="blog-post__tags">
    <ul>
      {% for tag in page.taxonomy.tag %}
        <li class="blog-post__item">
          <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>{% if page.taxonomy.tag|last != tag %}<span>, </span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  <span class="blog-post__divider"> / </span>
  <div class="blog-post__date">
    <p>{{ page.date|date("d M Y") }}</p>
  </div>
</aside>
<div class="blog-post__content">
  {{ page.content|truncate(330, true) }}
</div>
</article>