<section class="hero hero_home">
  <div class="container">
    <p>
      I’m <strong>Pedro Pimenta</strong>, a front-end developer and graphic designer. I love <strong>simple</strong> things, I advocate <strong>clean design</strong> that follows well-established standards and patterns familiar to the user. I love <strong>fast</strong> websites that load as quickly as possible. I design and code interfaces that work well across <strong>any screen</strong>, from mobile phones to big screens and I always build with <strong>accessibility</strong> in mind.
    </p>
  </div>
</section>