<nav class="nav-main">
  <div class="container">
    <h1 class="vh">Main Navigation</h1>
    <ul>
      {% for page in pages.children %}
        {% if page.visible %}
          {% set current_page = (page.active) ? 'active'  : '' %}
          {% if current_page == 'active' %}
            <li class="nav-main__item nav-main__item_current">
              {{ page.title }}
            </li>
          {% else %}
            <li class="nav-main__item">
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
