{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}

  <nav class="pagination" role="menu" aria-label="Blog posts pagination">
    <h1 class="vh">Pagination</h1>
    <ul>
      {% if pagination.hasPrev %}
        {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <li class="pagination__item">
          <a href="{{ url }}">Prev</a>
        </li>
      {% endif %}
      {% for paginate in pagination %}
        {% if paginate.isCurrent %}
          <li class="pagination__item pagination__item_nolink">
            {{ paginate.number }}
          </li>
        {% elseif paginate.isInDelta %}
          {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
          <li class="pagination__item">
            <a href="{{ url }}">{{ paginate.number }}
            </a>
          </li>
        {% elseif paginate.isDeltaBorder %}
          <li class="pagination__item pagination__item_gap">&hellip;</li>
        {% endif %}
      {% endfor %}
      {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <li class="pagination__item">
          <a href="{{ url }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}