@tailwind base;

body {
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  @apply bg-white;
}

body .flickity-viewport {
  overflow: visible;
}

p {
  @apply my-4;
}

.section {
  @apply mt-16 mb-8;
}

.section__title {
  /* @apply leading-none text-2xl font-light text-textSecondary mb-6 px-4; */
  @apply leading-none font-semibold text-2xl text-black mb-6 px-4;
}

.section__content {
  @apply px-4;
}

.main-wrapper {
  @apply bg-white;
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto); */
}

.project-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  @apply col-gap-8;
  max-width: 48rem;
  margin: 0 auto;
}

.link {
  position: relative;
  top: 0;
  transition: all 100ms ease-out; 
}

.link img,
.link .text  {
  position: relative;
  top: 0;
  transition: all 100ms ease-out; 
}

.link:hover img,
.link:hover .text {
  top: -2px;
}

.featured-project img,
.featured-project .text {
  position: relative;
  top: 0;
  transition: all 100ms ease-out; 
}

.featured-project:hover img {
  top: -4px;
}

.featured-project:hover .text {
  top: -8px;
}

@media (min-width: 640px) {
  /* .main-wrapper { */
    /* grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto); */
  /* } */

  .project-wrapper {
    grid-template-columns: 18rem auto;
    grid-template-rows: repeat(2, auto);
    @apply row-gap-8;
  }

  .section__title {
    @apply px-12 mb-8;
  }

  .section__content {
    @apply px-12;
  }
}

@media (min-width: 1024px) {
  .section__title {
    @apply px-20;
  }

  .section__content {
    @apply px-20;
  }
}

@media (min-width: 1280px) {
  /* .main-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  } */
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-textPrimary;
  }

  .main-wrapper {
    @apply bg-textPrimary;
  }

  .section__title {
    @apply text-white;
  }

  .icon-link {
    filter: brightness(4.5) saturate(0);
  }

  .link:hover img {
    filter: brightness(4.5) saturate(0);
  }
}

@tailwind components;

@tailwind utilities;
